
  <p-menubar
    *ngIf="usuario.rol === 'ADMIN_ROLE'"
    [model]="items"
    class="animate__animated animate__fadeIn animate__delay-1s"
  >
    <div style="display: flex; align-items: center; justify-content: center">
      <a routerLink="/checkout/cart">
        <i
          class="pi pi-shopping-cart p-mr-4 p-text-secondary"
          pBadge
          style="font-size: 1.5rem"
          value="{{ itemsCarrito.length }}"
        ></i>
      </a>
      <span style="margin-left: 10px"
        >Hola {{ usuario ? usuario.nombre : " " }}!
      </span>
      <button
        *ngIf="token !== '' "
        (click)="logout()"
        pButton
        label="Logout"
        class="p-button-text"
        icon="pi pi-power-off"
      ></button>
      <button
        *ngIf="!token"
        (click)="login()"
        pButton
        label="LogIn"
        class="p-button-text"
        icon="pi pi-power-on"
      ></button>
    </div>
  </p-menubar>

  <p-menubar
    *ngIf="usuario.rol === 'USER_ROLE'"
    [model]="itemsPublic"
    class="animate__animated animate__fadeIn animate__delay-1s"
  >
    <div style="display: flex; align-items: center; justify-content: center">
      <a routerLink="/checkout/cart">
        <i
          class="pi pi-shopping-cart p-mr-4 p-text-secondary"
          pBadge
          style="font-size: 1.5rem"
          value="{{ itemsCarrito.length }}"
        ></i>
      </a>
      <span style="margin-left: 10px"
        >Hola {{ usuario ? usuario.nombre : " " }}!
      </span>
      <button
        *ngIf="token !== ''"
        (click)="logout()"
        pButton
        label="Logout"
        class="p-button-text"
        icon="pi pi-power-off"
      ></button>
      <button
        *ngIf="!token"
        (click)="login()"
        pButton
        label="LogIn"
        class="p-button-text"
        icon="pi pi-power-on"
      ></button>
    </div>
  </p-menubar>

  <p-menubar
    *ngIf="usuario.rol === ''"
    [model]="itemsPublic"
    class="animate__animated animate__fadeIn animate__delay-1s"
  >
    <div style="display: flex; align-items: center; justify-content: center">
      <a routerLink="/checkout/cart">
        <i
          class="pi pi-shopping-cart p-mr-4 p-text-secondary"
          pBadge
          style="font-size: 1.5rem"
          value="{{ itemsCarrito.length }}"
        ></i>
      </a>

      <span style="margin-left: 10px"
        >Hola {{ usuario ? usuario.nombre : " " }}!
      </span>
      <button
        *ngIf="token"
        (click)="logout()"
        pButton
        label="Logout"
        class="p-button-text"
        icon="pi pi-power-off"
      ></button>
      <button
        *ngIf="!token"
        (click)="login()"
        pButton
        label="LogIn"
        class="p-button-text"
        icon="pi pi-power-on"
      ></button>
    </div>
  </p-menubar>

