<nav
  class="
    navbar navbar-expand-lg navbar-light
     bg-transparent
    justify-content-around
    align-content-center
  "
>

  <a
    class="nav-link d-none d-sm-block  p1Servicios shake"
    routerLink="/store/servicios"
    >Servicios</a
  >

  <a
    class="nav-link d-none d-sm-block  p2Tienda shake"
    routerLink="/store/tienda"
    >Tienda</a
  >

  <!-- Solo en movil se muestran estos -->
  <a
    class="
      nav-link
      d-flex d-block d-sm-none

      p1ServiciosSmall
      shake
    "
    routerLink="/store/servicios"
    >Servicios</a
  >

  <a
    class="
      nav-link
      d-flex d-block d-sm-none

      p2TiendaSmall
      shake
    "
    routerLink="/store/tienda"
    >Tienda</a
  >
  <!-- Solo en movil se muestran estos -->
</nav>
