<div class="container-fluid  p-0 m-0 ">


  <div  class=" row  p-0 m-0 background   animate__animated animate__fadeIn animate__delay-1s "  >



    <div #bombadiv  class="col col-sm-6 col-md-6 col-lg-6  animate__animated animate__fadeIn justify-content-center">

      <div class="row container-fluid align-content-center" >
        <h1>Estamos Trabajando en proximos servicios,pronto disponibles!</h1>
      </div>

      <div class="row  p-0 m-0 container-fluid">
        <a  routerLink="/store/landingPage"
        ><img
          id=""
          class="img"
          src="../../../../assets/img/UIBlitz/estamostrabajando.png"
          alt=""
      /></a>
      </div>


    </div>

  </div>
</div>

