<div class="container-fluid border-0">
  <div
    class="
      row
      background
      animate__animated animate__fadeInLeft animate__delay-1s
    "
  >
  <!-- /store/landingPage -->
    <div #bombadiv  class="col-12 col-lg-6 animate__animated animate__fadeIn">
      <a  routerLink="" (click)="onClickeBomb()"
        ><img
          id="bombaimg"
          class="img-bomb img-bomb-dropped animate__animated animate__headShake animate__repeat-3 "
          src="../../../../assets/img/UIBlitz/intrologobomba.png"
          alt=""
      /></a>

    </div>




  </div>
</div>


