<!-- d-flex justify-content-center -->
<div class="footer container-fluid animate__animated animate__fadeIn animate__delay-1s p-0">


  <div class="row d-flex m-0 justify-content-center bg-gray">
    <div class="col-12  col-lg-4 footer-redes">
      <div class="col-12 d-flex justify-content-center">
        <a href=""><i class="fab fa-instagram fa-3x"></i></a>
        <a href=""><i class="fab fa-facebook-f fa-3x"></i></a>
        <a href=""><i class="fab fa-tiktok fa-3x"></i></a>
      </div>

      <div class="col-12 align-self-center d-flex justify-content-center footer-textos">
        <p class="footer-textos">DERECHOS RESERVADOS PERO CONTENIDO LIBRE</p>
      </div>
    </div>
  </div>
</div>
