<div class="container-fluid p-0 m-0 col-12">
  <app-menu [itemsCarrito]="itemsCarrito"></app-menu>
</div>

<div class="animate__animated animate__fadeIn">
  <!-- *ngIf="displayCheckOut; else carritoCheck" -->
  <div class="row m-0 p-0">
    <div class="col">
      <h2>Detalles del pedido</h2>

      <form
        (ngSubmit)="finalizarCompra()"
        [formGroup]="miFormulario"
        autocomplete="off"
      >
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Direccion de entrega</label>
          <div class="col-sm-9">
            <input
              class="form-control"
              formControlName="direccion"
              type="text"
              placeholder="Direccion"
            />
            <span
              *ngIf="campoNoEsValido('direccion')"
              class="form-text text-danger"
              >Debe ser de mas de 4 caracteres</span
            >
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Detalles de Direccion</label>
          <div class="col-sm-9">
            <textarea
              class="form-control"
              formControlName="detalleDireccion"
              type="textArea"
              placeholder="Ayudanos a encontrar tu direccion facilmente"
              rows="2"
            ></textarea>

            <span
              *ngIf="campoNoEsValido('detalleDireccion')"
              class="form-text text-danger"
              >Debe ser de mas de 3 caracteres</span
            >
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Telefono para entrega</label>
          <div class="col-sm-9">
            <input
              class="form-control"
              formControlName="telefono"
              type="text"
              placeholder="Telefono Contacto"
            />
            <span
              *ngIf="campoNoEsValido('telefono')"
              class="form-text text-danger"
              >Debe ser de mas de 7 caracteres</span
            >
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Correo para entrega</label>
          <div class="col-sm-9">
            <input
              class="form-control"
              type="email"
              formControlName="correo"
              placeholder="Correo Electronico"
            />
            <span
              *ngIf="campoNoEsValido('correo')"
              class="form-text text-danger"
              >Debe ser de mas de 3 caracteres</span
            >
          </div>
        </div>

        <div class="row justify-content-between m-0 p-0">
          <div class="col-3"></div>
          <div class="col-auto">
            <button
              pButton
              type="submit"
              [disabled]="miFormulario.invalid"
              label="Finalizar Compra"
              class="p-button-outlined p-button-info"
            ></button>
          </div>
        </div>
      </form>
    </div>

    <div class="col">
      <div class="row">fila 1</div>

      <!-- Fila de envios y total -->
      <div class="row m-0 p-0">
        <!-- <p-divider></p-divider> -->

        <div class="col-12">
          <div class="row justify-content-between m-0 p-0">
            <div class="col-3">
              <h1>Subtotal</h1>
            </div>
            <div class="col-3">
              <p>
                {{ ventaPreparada.subtotal }}
              </p>
            </div>
          </div>
          <div class="row justify-content-between m-0 p-0">
            <div class="col-3">
              <h1>Envio</h1>
            </div>
            <div class="col-3">
              <p *ngIf="ventaPreparada.subtotal >= 40000; else costeEnvio">
                Envio Gratis
              </p>
              <ng-template #costeEnvio>
                <p>{{ ventaPreparada.envio }}</p>
              </ng-template>
            </div>
          </div>
          <div class="row justify-content-between m-0 p-0">
            <div class="col-3">
              <h1>Total</h1>
            </div>
            <div class="col-3">
              <p *ngIf="ventaPreparada.subtotal >= 40000; else costeTotal">
                {{ ventaPreparada.subtotal }}
              </p>
              <ng-template #costeTotal>
                <p>{{ ventaPreparada.total }}</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <!-- Fila de envios y total -->
    </div>
  </div>
</div>
