<div
  class="
    container-fluid
    animate__animated animate__fadeIn animate__delay-1s
    col-12
    border-0
    p-0
  "
>
  <p-carousel
    [value]="productos"
    [numVisible]="3"
    [numScroll]="1"
    [page]="1"
    [circular]="true"
    [autoplayInterval]="100000"
    showIndicators="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-producto pTemplate="item" style="padding: 0px;">
      <div
        class="product-item animate__animated animate__fadeIn animate__delay-1s p-0"
      >
        <div class="product-item-content">
          <div class="p-mb-3">
            <img
              src="{{ producto | imagen }} "
              [alt]="producto.nombre"
              class="product-image"
            />
          </div>
          <div>
            <h4 class="p-mb-1">{{ producto.nombre }}</h4>
            <h6 class="p-mt-0 p-mb-3">${{ producto.precio }}</h6>

            <span>
              <p-tag
                value="{{ producto | disponibleItem }}"
                severity="success"
                [rounded]="true"
                icon="pi pi-check"
              >
              </p-tag>
            </span>

            <div class="car-buttons p-mt-10">
              <button
                mat-button
                [routerLink]="['/store', producto._id]"
                color="primary"
              >
                Ver Producto
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
