<mat-card >
  <mat-card-header>
    <mat-card-title>{{producto.nombre}}</mat-card-title>
    <mat-card-subtitle>{{producto.categoria.nombre}}</mat-card-subtitle>
  </mat-card-header>

  <!-- <img mat-card-image src="{{producto.img}}" alt=""> -->
  <img mat-card-image [src]="producto | imagen" alt="">

  <mat-card-content>
    <h3> <strong>Precio</strong> </h3>
    <p>{{producto.precio | currency:'COP$':'symbol':'5.0-2' }} home </p>

    <h3> <strong>Disponibilidad</strong></h3>
    <p>{{producto | disponibleItem}}</p>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="['/store',producto._id]" color="primary">
      Ver Producto
    </button>

  </mat-card-actions>


</mat-card>

