/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 10px;
    height: 100%;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-layout {
    color: var(--text-color);
}

.spacer {
  flex: 1 1 auto;
}
